
$secondaryColor: rgb(252, 4, 132);
$secondaryColorT: rgba(252, 4, 132, 0.605);
$primaryColor: black;
$primaryColorT: rgba(0, 0, 0, 0.83);
$btnSave: #6CEE1C;
$btnSaveHover: #63d819;
$btnEdit: rgb(252, 4, 132,0.5);
$btnEditHover: rgba(252, 4, 132, 0.626);
$background: rgb(240, 240, 240);
$light: white;
$gris: grey;